<div class="ui modal">
  <div class="header">Edit Students</div>
  <div class="content">
    <!-- original location of #each start -->
      <div class="ui grid">
        <div class="ten wide column">
          <div class="actions">
            <div class="ui form">
              <div class="grouped fields">
                 <h2> Gender </h2>
<div class="ui list">

 <!--Editing option for each gender -->
  {{#each GenderModel as |genderChoice|}}

  <div class="item">

      <!--On select will set target model, but onchange will pass the value of the field -->
    <div class="ui input">
      <input type="text" value={{genderChoice.name}} onclick={{action 'setCurrentModel' genderChoice}} onchange={{action
        'editItem' value="target.value" }}>
    </div>
      
      <!--Remove Button -->
    <button class="ui icon button" {{action 'removeItem' genderChoice }}>
                <i class="remove circle icon"></i>
                </button>
  </div>
  <!-- end of list element !-->

  {{/each}}
</div>
<!-- end of list!-->


<button class="ui button" {{action 'addNewGender'}}>
     <i class="plus icon"></i>
  </button> 

              </div>
            </div>
          </div>
        </div>
        <div class="six wide column">
        </div>
      </div>



      <!-- original location of #each end -->

    <div class="actions">
      <hr>
      
      <div class="ui button" {{action "exit"}} >OK</div>
    </div>

  </div>
</div>

