<!-- This is the template for name-code, it is a modal that has a varying number of editable,
field. Each field has a delete buttton. Fields are populated with code names. There is an add button
to add a new field -->

<div class="ui modal">
  <div class="header">High School Courses</div>
  <div class="content">
    <div class="ui grid">
      <div class="fifteen wide column">
        <div class="actions">
          <div class="ui form">
  

              <!--Editing option for each name -->
              {{#each codeModel as |codeChoice|}}
                        <div class= "six fields">

              <div class="field">

                <label>School</label>
                <!--On select will set target model context, but onchange will pass the value of the field -->
                <select width="100px" onchange={{action 'selectSchool' value="target.value" }} onclick={{action 'setCurrentModel' codeChoice}}>
              {{#each schoolModel as |schoolChoice|}}
                <option value={{schoolChoice.id}} selected={{eq codeModel.school.id
                                                                   schoolChoice.id}}>{{schoolChoice.name}} </option>
              {{/each}}
              
               <option value={{null}} selected={{eq codeModel.school.id
                                                                   null}}>Null </option>
            </select>
              </div>
              <div class="field">
                <label>Subject</label>

                <!--On select will set target model context, but onchange will pass the value of the field -->
                <select class="ui dropdown" onchange={{action 'selectSubject' value="target.value" }} onclick={{action 'setCurrentModel'
                  codeChoice}}>
                  {{#each subjectModel as |subjectChoice|}}
                  <option value={{subjectChoice.id}} selected={{eq codeModel.subject.id subjectChoice.id}}>{{subjectChoice.name}} </option>
                  {{/each}}

                  <option value={{null}} selected={{eq codeModel.subject.id null}}>Null </option>
                  </select>
              </div>
              <div class="field">
                <label>Level</label>
                <!--On select will set target model context, but onchange will pass the value of the field -->
                <div class="ui input">
                  <input type="text" value={{codeChoice.level}} onclick={{action 'setCurrentModel' codeChoice}} onchange={{action 'editLevel'
                    value="target.value" }}>
                </div>
                </div>

                 <div class="field">
                <label>Source</label>
                <!--On select will set target model context, but onchange will pass the value of the field -->
                <div class="ui input">
                  <input type="text" value={{codeChoice.source}} onclick={{action 'setCurrentModel' codeChoice}} onchange={{action 'editSource'
                    value="target.value" }}>
                </div>
                </div>
    <div class="field">
                <label>Unit</label>
                <!--On select will set target model context, but onchange will pass the value of the field -->
                <div class="ui input">
                  <input type="text" value={{codeChoice.unit}} onclick={{action 'setCurrentModel' codeChoice}} onchange={{action 'editUnit'
                    value="target.value" }}>
                </div>
                </div>



      <div class="field">

                <!--Remove Button -->
                <button class="ui icon button" {{action 'removeCode' codeChoice }}>
                <i class="remove circle icon"></i>
                </button>
                  </div>
             <br>
             </div>
              {{/each}}
  
  <div class="field">
              <!-- Add button !-->
              <button class="ui button" {{action 'newCode'}}>
     <i class="plus icon"></i>
  </button>
</div>

          
          </div>
        </div>
        <div class="six wide column">
        </div>
      </div>

      <div class="actions">
        <br>
        <hr>
        <!-- Close Button !-->
        <div class="ui button" {{action "exit"}}>Ok</div>
      </div>

    </div>
  </div>

</div>