<!-- This is the template for name-code, it is a modal that has a varying number of editable,
field. Each field has a delete buttton. Fields are populated with code names. There is an add button
to add a new field -->

<div class="ui modal">
  <div class="header">High School Subjects</div>
  <div class="content">
    <div class="ui grid">
      <div class="ten wide column">
        <div class="actions">
          <div class="ui form">
            <div class="grouped fields">

              <div class="three fields">
                <div class="field">
                  <label>Name</label>
                </div>
                <div class="field">
                  <label>Description</label>
                </div>

              </div>


              <!--Editing option for each name -->
              {{#each codeModel as |codeChoice|}}
              <div class="three fields">

                <div class="field">
                  <!--On select will set target model context, but onchange will pass the value of the field -->
                  <div class="ui input">
                    <input type="text" value={{codeChoice.name}} onclick={{action 'setCurrentModel' codeChoice}} onchange={{action 'editName'
                      value="target.value" }}>
                  </div>
                </div>

                <div class="field">
                  <!--On select will set target model context, but onchange will pass the value of the field -->
                  <div class="ui input">
                    <input type="text" value={{codeChoice.description}} onclick={{action 'setCurrentModel' codeChoice}} onchange={{action
                      'editDescription' value="target.value" }}>
                  </div>
                </div>

                <div class="field">
                  <!--Remove Button -->
                  <button class="ui icon button" {{action 'removeCode' codeChoice }}>
                <i class="remove circle icon"></i>
                </button>
                </div>

                <!-- end of list element !-->
              </div>
              {{/each}}

              <!-- end of entire list!-->

              <!-- Add button !-->
              <button class="ui button" {{action 'newCode'}}>
     <i class="plus icon"></i>
  </button>

            </div>
          </div>
        </div>
      </div>
      <div class="six wide column">
      </div>
    </div>

    <div class="actions">
      <br>
      <hr>
      <!-- Close Button !-->
      <div class="ui button" {{action "exit"}}>Ok</div>
    </div>

  </div>
</div>