<br>
<h2> Residency </h2>
<div class="ui list">

 <!--Editing option for each residency -->
  {{#each ResidencyModel as |residencyChoice|}}

  <div class="item">

      <!--On select will set target model, but onchange will pass the value of the field -->
    <div class="ui input">
      <input type="text" value={{residencyChoice.name}} onclick={{action 'setCurrentModel' residencyChoice}} onchange={{action
        'editItem' value="target.value" }}>
    </div>
      
      <!--Remove Button -->
    <button class="ui icon button" {{action 'removeItem' residencyChoice }}>
                <i class="remove circle icon"></i>
                </button>
  </div>
  <!-- end of list element !-->

  {{/each}}
</div>
<!-- end of list!-->


<!-- Form to add new !-->
{{#if isAddingResidency}}
<form class="ui form">
  <div class="ui input">
    {{input type="text" value = rName placeholder="Enter Name"}}
  </div>
  <button class="ui button" {{action 'saveResidency'}}>Save</button>
  <button class="ui button" {{action 'cancelNewResidency'}}>Cancel</button>
</form>
{{else}}

<!--Toggle Button for Add !-->
<button class="ui button" {{action 'addNewResidency'}}>
     <i class="plus icon"></i>
  </button> {{/if}}


  <h2> Gender </h2>
<div class="ui list">

 <!--Editing option for each gender -->
  {{#each GenderModel as |genderChoice|}}

  <div class="item">

      <!--On select will set target model, but onchange will pass the value of the field -->
    <div class="ui input">
      <input type="text" value={{genderChoice.name}} onclick={{action 'setCurrentModel' genderChoice}} onchange={{action
        'editItem' value="target.value" }}>
    </div>
      
      <!--Remove Button -->
    <button class="ui icon button" {{action 'removeItem' genderChoice }}>
                <i class="remove circle icon"></i>
                </button>
  </div>
  <!-- end of list element !-->

  {{/each}}
</div>
<!-- end of list!-->


<!-- Form to add new !-->
{{#if isAddingGender}}
<form class="ui form">
  <div class="ui input">
    {{input type="text" value = gName placeholder="Enter Name"}}
  </div>
  <button class="ui button" {{action 'saveGender'}}>Save</button>
  <button class="ui button" {{action 'cancelNewGender'}}>Cancel</button>
</form>
{{else}}

<!--Toggle Button for Add !-->
<button class="ui button" {{action 'addNewGender'}}>
     <i class="plus icon"></i>
  </button> {{/if}}

  
