<br>
<h2> Residency </h2>
<div class="ui list">

 <!--Editing option for each residency -->
  {{#each ResidencyModel as |residencyChoice|}}

  <div class="item">

      <!--On select will set target model, but onchange will pass the value of the field -->
    <div class="ui input">
      <input type="text" value={{residencyChoice.name}} onclick={{action 'setCurrentModel' residencyChoice}} onchange={{action
        'editItem' value="target.value" }}>
    </div>
      
      <!--Remove Button -->
    <button class="ui icon button" {{action 'removeItem' residencyChoice }}>
                <i class="remove circle icon"></i>
                </button>
  </div>
  <!-- end of list element !-->

  {{/each}}
</div>
<!-- end of list!-->


<!--Button for Add !-->
<button class="ui button" {{action 'addNewResidency'}}>
     <i class="plus icon"></i>
  </button> 
   
<button class="ui button" {{action 'showGender'}}>
     <i class="save icon"></i>
  </button> 



  
{{#if showGender}}
 {{gender-page notDONE = showGender}}
{{/if}}