<h2>Perform Adjudication</h2>


    {{#unless processing}}
    <center>
    <div class="ui compact  segment">
 
    <select class="ui dropdown" onchange={{action 'setCurrentTerm' value="target.value" }}>
    <option value= '' >Select A Term </option>  
    <br>     
    {{#each termModel as |termChoice|}}
    <option value={{termChoice.id}} >{{termChoice.name}} </option>
                    
    {{/each}}
                    
                
    </select>
    <br>
    <br>
      <button class="large positive ui button" {{action 'go'}}>
     Go
  </button>
  </div>
  </center>
      {{/unless}}

                  {{#if processing}}
              
<div class="ui active centered inline loader">
    <br>
    <h4>Hold on tight...</h4>
    
</div>

{{/if}}

{{#if complete}}





              
<div class="ui center aligned segment">
      <h3> Adjudication Completed!</h3>
      <table class="ui celled table">
  <thead>
    <tr><th>Student</th>
    <th>Date</th>
    <th>AVG</th>
      <th>Unit Passed</th>
        <th>Unit Total</th>
          <th>Note</th>
               <th>Program</th>
               <th>Plan</th>
               <th>Comments</th>
            
  </tr></thead>
  <tbody>


      {{#each allNewAdj as |oneAdj|}}
  
    <tr>
      <td>{{oneAdj.student.firstName}}</td>
      <td>{{oneAdj.date}}</td>
      <td>{{oneAdj.termAVG}}</td>
      <td>{{oneAdj.unitPassed}}</td>
      <td>{{oneAdj.unitTotal}}</td>
      <td>{{oneAdj.note}}</td>
      <td>{{oneAdj.program.name}} Year: {{oneAdj.program.level}} </td>
       <td>{{oneAdj.plan.name}}</td>
        <td>
          <div class="ui list">

      {{#each oneAdj.comments as |oneComment|}}
      
          <div class="item">{{oneComment.comment.code}}: {{oneComment.comment.description}}</div>
      
      {{/each}}
      </div>
      </td>
     
      
    </tr>
  
    {{/each}}
   
  </tbody>
</table>


    
</div>
  


    {{/if}}




<br>
<br>