<!--Grid for selecting all the diffrent system codes avaliable for edit-->
  
<div class="ui four column grid">

  <div class="column">
  
      <div class="ui button" {{action "showGender"}}>
        Gender
    </div>
  </div>
  <!--end column-->
  
  <div class="column">
      <div class="ui button" {{action "showResidency"}}>
        Residency
    </div>
  </div>
  <!--end column-->
  


  <div class="column">
      <div class="ui button" {{action "showHsCourses"}}>
        High Schools Courses
    </div>
  </div>
  <!--end column-->

  <div class="column">
      <div class="ui button" {{action "showSecondary"}}>
       Secondary Schools
    </div>
  </div>
  <!--end column-->

  <div class="column">
      <div class="ui button" {{action "showHsSubjects"}}>
        High School Subjects
    </div>
  </div>
  <!--end column-->

  <div class="column">
      <div class="ui button" {{action "showCourseCode"}}>
        University Courses
    </div>
  </div>
  <!--end column-->


  <div class="column">
      <div class="ui button " {{action "showPlanCode"}}>
       Plan Code
    </div>
  </div>
  <!--end column-->


  <div class="column">
      <div class="ui button" {{action "showTermCode"}}>
      Term Code
    </div>
  </div>
  <!--end column-->

    <div class="column">
      <div class="ui button" {{action "showFaculty"}}>
      Facultys
    </div>
  </div>
  <!--end column-->

     <div class="column">
      <div class="ui button" {{action "showProgramAdmin"}}>
      Program Admins
    </div>
  </div>
  <!--end column-->
  <div class="column">
      <div class="ui button" {{action "showProgram"}}>
      Programs
    </div>
  </div>

</div>
  <!--end grid-->

    <!--Outlets for the modals where editing actually takes place-->
{{#if showGender}} {{name-code-modal notDONE = showGender title = "Genders" modelName = "gender"}} {{/if}}
{{#if showResidency}} {{name-code-modal notDONE = showResidency title = "Residencys" modelName = "residency"}} {{/if}}
{{#if showTermCode}} {{name-code-modal notDONE = showTermCode title = "Term Codes" modelName = "term"}} {{/if}}
{{#if showFaculty}} {{name-code-modal notDONE = showFaculty title = "Faculty" modelName = "faculty"}} {{/if}}
{{#if showSecondary}} {{name-code-modal notDONE = showSecondary title = "Seconday Schools" modelName = "secondaryschool"}} {{/if}}
{{#if showCourseCode}} {{course-modal notDONE = showCourseCode}} {{/if}}
{{#if showProgram}} {{program-modal notDONE = showProgram}} {{/if}}
{{#if showProgramAdmin}} {{programadmin-modal notDONE = showProgramAdmin}} {{/if}}
{{#if showHsSubjects}} {{hssubject-modal notDONE = showHsSubjects}} {{/if}}
{{#if showHsCourses}} {{hscourse-modal notDONE = showHsCourses}} {{/if}}
{{#if showPlanCode}} {{plan-modal notDONE = showPlanCode}} {{/if}}
