<div class="ui center aligned header">
  <h2>Students Records Data Entry</h2>
</div>

<!-- Show the menu bar-->
<div class="ui inverted menu">
  <a class="item" {{action 'saveStudent'}}>
    <i class="save icon"></i>
    Save
  </a>
  <a class="item" {{action 'undoSave'}}>
    <i class="undo icon"></i>
    Undo
  </a>
  <a class="item" {{action 'firstStudent'}}>
    <i class="step backward icon"></i>
    First
  </a>
  <a class="item" {{action 'previousStudent'}}>
    <i class="arrow left icon"></i>
    Previous
  </a>
  <a class="item" {{action 'nextStudent'}}>
    <i class="arrow right icon"></i>
    Next
  </a>
  <a class="item" {{action 'lastStudent'}}>
    <i class="step forward icon"></i>
    Last
  </a>
  <a class="item" {{action 'allStudents'}}>
    <i class="content icon"></i>
    All
  </a>
  <a class="item" {{action 'findStudent'}}>
    <i class="search icon"></i>
    Find
  </a>

  <a class="item" {{action 'removeStudent'}}>
    <i class="remove circle icon"></i>
    Remove
  </a>

  <a class="item" {{action 'addStudent'}}>
    <i class="plus icon"></i>
    Add
  </a>
 
</div>

{{#if showFindStudent}}

 {{find-student notDONE = showFindStudent INDEX = currentIndex offset = offset }}
 
{{/if}}

{{#if showAllStudents}}
  <!-- Note that offset is an "in" and "out" parameter !-->
 {{all-students INDEX = currentIndex notDONE = showAllStudents offset = offset studentsModel = studentsRecords}}
{{else}}
  <!-- Show data entry form -->

  <!-- This makes all the tabs visiable, this is not where they become clickable !-->
  <div class="ui top attached tabular menu">
    <div class="active item" data-tab="basics">Profile</div>
    {{! These are the tabs we are currently showing}}
    <div class="item" data-tab="advanceStanding">Advance Standing</div>
    <div class="item" data-tab="scholarshipsAwards">Scholarships/Awards</div>
    <div class="item" data-tab="registrationInfo">Registration Info</div>
    <div class="item" data-tab="secondarySchool">Secondary School</div>
    <div class="item" data-tab="universityRecord">University Record</div>
   
    

  </div>
  <div class="ui bottom attached active tab segment"data-tab="basics">
    <!-- student basic information !-->

    <div class="ui grid">
      <div class="ui right aligned  seven wide column">
        <div class="ui form">
          <div class="inline field">
            <label>Student Number</label>
            {{input size="10" type="text"  value = currentStudent.number}}
          </div>
          <div class="inline field">
            <label>First Name</label>
            {{input type="text"  value = currentStudent.firstName}}
          </div>
          <div class="inline field">
            <label>Last Name</label>
            {{input type="text" value = currentStudent.lastName }}
          </div>
          <div class="inline field">
            <label>Gender</label>
             <select onchange={{action 'selectGender' value="target.value"}}>
              {{#each genderModel as |genderChoice|}}
                <option value={{genderChoice.id}} selected={{eq currentStudent.genInfo.id
                                                                   genderChoice.id}}>{{genderChoice.name}} </option>
              {{/each}}
              
               <option value={{null}} selected={{eq currentStudent.genInfo.id
                                                                   null}}>Null </option>
            </select>
          </div>
          <div class="inline field">
            <label>Date of Birth</label>
            <input value={{selectedDate}} type="date" onchange={{action 'assignDate' value="target.value"}}>
          </div>
          <div class="inline field">
            <label>Residency</label>      
            <select onchange={{action 'selectResidency' value="target.value"}}>
              {{#each residencyModel as |residencyChoice|}}
                <option value={{residencyChoice.id}} selected={{eq currentStudent.resInfo.id
                                                                   residencyChoice.id}}>{{residencyChoice.name}} </option>
              {{/each}}
              
               <option value={{null}} selected={{eq currentStudent.resInfo.id
                                                                   null}}>Null </option>
            </select>
          </div>
        </div>
      </div>
      <!-- Show student photo -->
      <div class="ui center aligned  seven wide column segment">
        <img  src={{studentPhoto}}>
      </div>
    </div>


  </div>

  {{!START ADVANCE STANDING TAB}}
  <div class="ui tab" data-tab="advanceStanding">
    <div align = "center"> 
      <br>
    <h2>Information for Advance Standing</h2>
      <div class="ui vertically divided grid"> 
          {{! Start of foureach loop}}
          {{#each advanceStandingRecords as |advanceStanding|}}
            <div class="one column row">
              <div class="ui vertically grid">
                <div class="one column row">
                  <div class="column">
                    <h3> Advance standing record </h3>
                  </div> {{! close column}}
                </div> {{! one column row}}
                
                <div class="two column row">
                  <div class="column">
                    <div class="one column row">
                      <div class = "ui label">
                        {{!START COURSE}}
                        <label>Course</label>
                      </div> {{!End of label}}
                    </div>{{! end of one column row}}
                    <div class="one column row">
                      {{advanceStanding.course}}
                    </div>
                    <div class="one column row">
                      <input type="text" value={{advanceStanding.course}} onclick={{action 'setCurrentAdvanceStanding' advanceStanding}} 
                      onchange={{action 'editAdvanceStandingCourse' value="target.value"}}>
                    </div> {{! end one column row}}
                  </div> {{! end of column}}
                  {{!END COURSE}}

                  <div class="column">
                    <div class="one column row">
                      <div class = "ui label">
                        <label>Description </label>
                      </div>
                    </div>

                    <div class="one column row"> 
                      {{advanceStanding.description}}
                    </div>
                    
                    
                    <input type="text" value={{advanceStanding.description}} onclick={{action 'setCurrentAdvanceStanding' advanceStanding}} 
                    onchange={{action 'editAdvanceStandingDescription' value="target.value"}}>
                  </div>

                </div> {{! end of two column row}}
                <br><br>
                <div class="three column row">
                  
                  <div class="column">
                    <div class = "ui label"> 
                      <label>  Units</label>
                    </div> {{!End of label}}
                    
                    <input type="text" value={{advanceStanding.units}} onclick={{action 'setCurrentAdvanceStanding' advanceStanding}} 
                    onchange={{action 'editAdvanceStandingUnits' value="target.value"}}>
                  </div> {{!close column}}
                  
                  <div class="column">
                    <div class = "ui label"> 
                      <label>  Grade </label>
                    </div> {{!END LABEL}}
 
                    <input type="text" value={{advanceStanding.grade}} onclick={{action 'setCurrentAdvanceStanding' advanceStanding}} 
                    onchange={{action 'editAdvanceStandingGrade' value="target.value"}}>
                  </div> {{!end column}}

                  <div class="column">
                    <div class = "ui label"> 
                      <label> From </label>
                    </div> {{! END LABEL}}
                    
                    <input type="text" value={{advanceStanding.from}} onclick={{action 'setCurrentAdvanceStanding' advanceStanding}} 
                  onchange={{action 'editAdvanceStandingFrom' value="target.value"}}>
                  </div>

                  </div> {{!END THREE COLUMN ROW}}

                  <div class="one column row"> 
                    <div class="column">
                      <button class = "ui button"{{action "deleteAdvanceStanding" advanceStanding}}>Delete advance standing</button>
                    </div>
                  </div>

              </div> {{!end of non divded grid}}
            </div> {{! end of one column row, each new advance standing sould have new divider}}
          {{/each}} {{!END OF FOR LOOP}}
          <div class="one column row"> 
            <div class="column">
              <button class = "ui button" {{action "createNewAdvanceStanding"}}>Create new advance standing</button>
            </div>
          </div>
      </div> {{!END GRID}}
    </div> {{!END CENTER}}
  </div>

  {{! END ADVANCE STANDING TAB}}

  <div class="ui tab" data-tab="scholarshipsAwards">
    <div align = "center">
      <br>
      <h2>Information for Scholarships and Awards</h2>
      <div class="ui vertically divided grid"> 
        {{#each scholarshipRecords as |scholarship|}}
          <div class="one column row">
            <div class="column">
              <div class="ui vertically grid"> 
                <div class="one column row">
                  <div class="column">
                    <h3> {{scholarship.scholarshipID}}  </h3>
                  </div>
                </div>
                <div class="two column row">

                  <div class="column">
                    <div class="one column row">
                      <div class="ui label">
                        <label> Name : </label>
                      </div>{{! end label}}
                    </div> {{! end column row}}
                    <div class="one column row">
                      {{scholarship.scholarshipID}}   
                    </div> {{! end column row}}
                    <div class="one column row">
                      <input type="text" value={{scholarship.scholarshipID}} onclick={{action 'setCurrentInputScholarship' scholarship}} 
                      onchange={{action 'editScholarshipID' value="target.value"}}>
                    </div>{{! end column row }}
                  </div> {{! end column}}

                  <div class="column">
                    <div class="one column row">
                      <div class="ui label">
                        <label> Notes :      </label>   
                      </div> {{!END LABEL}}
                    </div> {{! END COLUMN ROW}}
                    <div class="one column row">
                      {{scholarship.note}}
                    </div> {{!END COLUMN ROW}}
                    <div class="one column row">
                      <input type="text" value={{scholarship.note}} onclick={{action 'setCurrentInputScholarship' scholarship}} 
                      onchange={{action 'editScholarshipNote' value="target.value"}}>
                    </div> {{!END COLUMN ROW}}
                  </div> {{! end of column}}
                    
                </div> {{! END TWO COLUMN ROW}}
                
                <div class="one column row">
                  <div class="column">
                    <button class = "ui button " {{action "deleteScholarship" scholarship}}>Delete scholarship</button>
                  </div>
                </div>

              </div> {{! END GRID}}
            </div> {{!END COLUMN}}
          </div> {{!END ONE COLUMN ROW}}
        {{/each}}

        <div class="one column row">
          <div class="column">
            <button  class = "ui button " {{action "createNewScholarship"}}>Create new scholarship</button>
          </div>
        </div>
      </div> {{! END DIVDED GRID}}

      <br><br>
   </div>
  </div>

  {{!END Scholarship AND AWARDS TAB}}

  {{!START SECONDARY SCHOOL}}
  <div class="ui tab" data-tab="registrationInfo">
     <br>
      <div align="center">
      <div class="ui label">
      <label>Admission Comments: </label> 
      </div>  
      <br>
      {{currentStudent.registrationComments}}
      <br>
       <input type="text" value={{currentStudent.registrationComments}}  class="form-control" placeholder="Registration comments" 
       autofocus="autofocus" onchange={{action 'editRegistrationComments' value="target.value"}}>
      <br>
      <br>
      <div class="ui label">
      <label>Basis Of Admission:</label>
      </div>  
      <br>
      {{currentStudent.basisOfAdmission}}
      <br>
      <input type="text" value={{currentStudent.basisOfAdmission}} class="form-control" placeholder="Basis of admission" 
      autofocus="autofocus" onchange={{action 'editBasisOfAdmission' value="target.value"}}>
      <br> 
      <br> 
      <div class="ui label">   
      <label>Admission average</label> 
      </div>
      <br>
      {{currentStudent.admissionAverage}}
      <br>
      <input type="number" value={{currentStudent.admissionAverage}} class="form-control" placeholder="Admission average" 
      autofocus="autofocus" onchange={{action 'editAdmissionAverage' value="target.value"}}>
      <br>
        <br> 
      <div class="ui label">
      <label>Admission Comments</label> 
      </div>
      <br>
      {{currentStudent.admissionComments}}
      <br>  
      <input type="text" value={{currentStudent.admissionComments}} class="form-control" placeholder="Admission comments" 
      autofocus="autofocus" onchange={{action 'editAdmissionComments' value="target.value"}}>
      <br><br>
      </div>
  </div>

  {{!END OF SECONDARY SCHOOL}}

  <div class="ui tab" data-tab="secondarySchool">
    <!-- Program records, courses and grades !-->
    <div align = "center">
      <div class="ui vertically divided grid"> 
        {{#each hsGradeRecords as |hsGrade|}}
          <div class="one column row">
            <div class="ui vertically grid"> 
              <div class="two column row">
                <div class="column">
                  <h3> Grade </h3>
                  <div class = "ui label">
                    <label>Grade:</label>
                  </div>
                  {{hsGrade.mark}}
                  <input type="text" value={{hsGrade.mark}} onclick={{action 'currentlySelectedProgram' hsGrade}} 
                                  onchange={{action 'editHSGradeMark' value="target.value"}}>
                </div>{{!END COLUMN}}
                <div class="column">
                  <h3> Course </h3>
                  <div class = "ui label">
                      <label> level:</label>
                  </div>
                  {{hsGrade.source.level}}

                  <div class = "ui label">
                    <label> source:</label>
                  </div>

                  {{hsGrade.source.source}}

                  <div class = "ui label">
                    <label> unit: </label> 
                  </div>
                  {{hsGrade.source.unit}}

                   <select class=" ui scrolling dropdown selection" onmouseover={{action 'currentlySelectedProgram' hsGrade.id}} 
                onclick={{action 'currentlySelectedProgram' hsGrade.id}} 
                            onchange={{action 'selectedProgramCourses' value="target.value"}}>
                              {{! show each term}}
                              <option value={{null}} selected={{eq hsGrade.source.id null}}>Null </option>
                              {{#each highSchoolCoursesRecords as |courseChoice|}}
                              {{! needs to change it so that onclick i get the currently editing dropdown
                              then set it appropriatly }}
                                <option value={{courseChoice.id}} selected={{eq hsGrade.source.id courseChoice.id}}>
                                  {{courseChoice.level}} <br>
                                  {{courseChoice.source}} <br>
                                  {{courseChoice.school.name}}   <br>
                                  {{courseChoice.unit}} <br>
                                  {{courseChoice.subject.name}} <br>
                                  {{courseChoice.subject.description}} <br>
                                  </option>
                              {{/each}}

                </select>

                </div> {{!END COLUMN}}
              </div> {{!END TWO COLUMN ROW}}
              <div class="two column row">
                <div class="column">

                  <h3>Subject </h3>
                  <div class = "ui label"> 
                    <label> Subject name: </label>
                  </div>
                  {{hsGrade.source.subject.name}} 
                  <div class = "ui label">
                    <label> Subject description: </label> 
                  </div>
                  {{hsGrade.source.subject.description}} 
                </div>{{!END COLUMN}}
                <div class="column">
                  <h3>School </h3>
<!-- THIS IS ONLY HERE FOR DEBUGGING RELATIONSHIPS AND CAN BE DELETED IF SYSTEM CODE IS WORKING
    <select onmouseover={{action 'currentlySelectedProgram' hsGrade.source.id}} 
    onclick={{action 'currentlySelectedProgram' hsGrade.source.id}} 
                 onchange={{action 'selectedProgramSubject' value="target.value"}}>
                  {{! show each term}}
                   <option value={{null}} selected={{eq hsGrade.source.subject.id null}}>Null </option>
                  {{#each higschoolSubjectsRecords as |subjectChoice|}}
                   {{! needs to change it so that onclick i get the currently editing dropdown
                   then set it appropriatly }}
                    <option value={{subjectChoice.id}} selected={{eq hsGrade.source.subject.id subjectChoice.id}}>
                      {{subjectChoice.name}}:{{subjectChoice.description}} </option>
                  {{/each}}
                  {{! selects the null option if it's null'}}
                 
                </select>
                -->
                  <div class = "ui label">
                    <label> School name: </label>
                  </div>
                  {{hsGrade.source.school.name}} 
<!-- THIS IS ONLY HERE FOR DEBUGGING RELATIONSHIPS AND CAN BE DELETED IF SYSTEM CODE IS WORKING
    <select onmouseover={{action 'currentlySelectedProgram' hsGrade.source.id}} 
    onclick={{action 'currentlySelectedProgram' hsGrade.source.id}} 
                 onchange={{action 'selectedSecondarySchool' value="target.value"}}>
                  {{! show each term}}
                   <option value={{null}} selected={{eq hsGrade.source.school.id null}}>Null </option>
                  {{#each secondarySchoolRecords as |secondarySchool|}}
                   {{! needs to change it so that onclick i get the currently editing dropdown
                   then set it appropriatly }}
                    <option value={{secondarySchool.id}} selected={{eq hsGrade.source.school.id secondarySchool.id}}>
                      {{secondarySchool.name}}</option>
                  {{/each}}
                  {{! selects the null option if it's null'}}
                 
                </select>
    -->                
                </div> {{!END COLUMN}}
                <button class = "ui button" {{action "deleteHSGrade" hsGrade}}>Delete highschool grade</button>
              </div> {{!END TWO COLUMN ROW}}
            </div> {{!END UI VERTICAL GRID}}
          </div> {{!END 1 COLUMN ROW}}
        {{/each}}
      </div> {{!END divider GRID}}
    <button class = "ui button" {{action "createNewGradeForHS"}}>Create new grade for High School</button>
      </div> {{!END CENTER}}
    </div>{{!END TAB}}

   <div class="ui tab" data-tab="universityRecord">
    <!-- Program records, courses and grades !-->
    <br>
            <div align = "center">
              {{#each gradeRecords as |uniGrade|}}
                <h3> Grade </h3>
                <div class = "ui label">
                <label>Mark:</label>{{uniGrade.mark}}
                </div>
                <br>
                  <input type="text" value={{uniGrade.mark}} onclick={{action 'currentlySelectedProgram' uniGrade}} 
                    onchange={{action 'editGradeMark' value="target.value"}}>
                <br>
                <div class = "ui label">
                <label> Note:</label>
            </div> 
                  
                  {{uniGrade.note}}
                <br>
                  <input type="text" value={{uniGrade.note}} onclick={{action 'currentlySelectedProgram' uniGrade}} 
                    onchange={{action 'editGradeNote' value="target.value"}}>
                <br>

                <h3> Course </h3>

                {{uniGrade.course.id}}
                <br>
                {{uniGrade.course.name}}
                <br>
                {{uniGrade.course.unit}}
                <br>
                {{uniGrade.course.courseNumber}}
                <br>
                {{uniGrade.course.courseLetter}}
                <br>

                <select onmouseover={{action 'currentlySelectedProgram' uniGrade.id}} onclick={{action 'currentlySelectedProgram' uniGrade.id}} 
                 onchange={{action 'selectedGradeCourse' value="target.value"}}>
                  {{! show each term}}
                   <option value={{null}} selected={{eq uniGrade.program.term.id null}}>Null </option>
                  {{#each universityCoursesRecords as |uniChoice|}}
                   {{! needs to change it so that onclick i get the currently editing dropdown
                   then set it appropriatly }}
                    <option value={{uniChoice.id}} selected={{eq uniGrade.course.id uniChoice.id}}>
                      {{uniChoice.name}} {{uniChoice.unit}} {{uniChoice.courseNumber}}
                      {{uniChoice.courseLetter}} </option>
                  {{/each}}
                  {{! selects the null option if it's null'}}
                 
                </select>

                
                <h3> Program </h3> 
        
                <br>
                <div class = "ui label">
                  <label>
                Program name: </label></div>
                
                {{uniGrade.program.name}}
                <br>
                  <input type="text" value={{uniGrade.program.name}} onclick={{action 'currentlySelectedProgram' uniGrade.program}} 
                    onchange={{action 'editProgramName' value="target.value"}}>
                <br>
                <div class = "ui label">
                  <label>
                Program level:</label></div>
                {{uniGrade.program.level}}
                <br>
                 <input type="text" value={{uniGrade.program.level}} onclick={{action 'currentlySelectedProgram' uniGrade.program}} 
                    onchange={{action 'editProgramLevel' value="target.value"}}>
                <br>
                <div class = "ui label">
                  <label>
                Program load: </label></div>{{uniGrade.program.load}}
                <br>
                 <input type="text" value={{uniGrade.program.load}} onclick={{action 'currentlySelectedProgram' uniGrade.program}} 
                    onchange={{action 'editProgramLoad' value="target.value"}}>
                <br>
                <div class = "ui label">
                  <label>
                Program status: 
                  </label></div>{{uniGrade.program.status}}
                <br>
                 <input type="text" value={{uniGrade.program.status}} onclick={{action 'currentlySelectedProgram' uniGrade.program}} 
                    onchange={{action 'editProgramStatus' value="target.value"}}>
                <br>

                

                <h3> Term </h3>
                <select onmouseover={{action 'currentlySelectedProgram' uniGrade.program.id}} onclick={{action 'currentlySelectedProgram' uniGrade.program.id}} 
                 onchange={{action 'selectedProgramTerm' value="target.value"}}>
                  {{! show each term}}
                   <option value={{null}} selected={{eq uniGrade.program.term.id null}}>Null </option>
                  {{#each universityTermCodeRecords as |termChoice|}}
                   {{! needs to change it so that onclick i get the currently editing dropdown
                   then set it appropriatly }}
                    <option value={{termChoice.id}} selected={{eq uniGrade.program.term.id termChoice.id}}>
                      {{termChoice.name}} </option>
                  {{/each}}
                  {{! selects the null option if it's null'}}
                 
                </select>


                <h3> Plan </h3>

                 <select onmouseover={{action 'currentlySelectedProgram' uniGrade.program.id}} onclick={{action 'currentlySelectedProgram' uniGrade.program.id}} 
                 onchange={{action 'selectedProgramPlan' value="target.value"}}>
                  {{! show each term}}
                   <option value={{null}} selected={{eq uniGrade.program.plan.id null}}>Null </option>
                  {{#each universityPlanCodesRecords as |planChoice|}}
                   {{! needs to change it so that onclick i get the currently editing dropdown
                   then set it appropriatly }}
                    <option value={{planChoice.id}} selected={{eq uniGrade.program.plan.id planChoice.id}}>
                      {{planChoice.name}} </option>
                  {{/each}}
                  {{! selects the null option if it's null'}}

                      </select>

                      <br> <br>
                      <button class = "ui button" {{action "deleteGrade" uniGrade}}>Delete grade</button>
                      <hr>
                {{/each}}
              
     <button class = "ui button" {{action "createNewGradeForUni"}}>Create new grade for University</button>
            </div>
  </div>

{{/if}}